<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chart_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{1296,175},{46,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chart_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{1296,126},{47,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chart_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1446,328},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1493,328},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1540,328},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_GB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1239,238},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_QH.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,72}</string>
                <key>spriteSourceSize</key>
                <string>{468,72}</string>
                <key>textureRect</key>
                <string>{{1777,1},{468,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chart_biaoge1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,325}</string>
                <key>spriteSourceSize</key>
                <string>{432,325}</string>
                <key>textureRect</key>
                <string>{{1343,1},{432,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_biaoge2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{808,325}</string>
                <key>spriteSourceSize</key>
                <string>{808,325}</string>
                <key>textureRect</key>
                <string>{{1,168},{808,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_bjt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,39}</string>
                <key>spriteSourceSize</key>
                <string>{59,39}</string>
                <key>textureRect</key>
                <string>{{1239,322},{59,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_change_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,50}</string>
                <key>spriteSourceSize</key>
                <string>{270,50}</string>
                <key>textureRect</key>
                <string>{{1851,1},{270,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chart_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1342,328},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1394,328},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_heise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{1855,273},{110,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chart_hongse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{1855,385},{110,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chart_honor_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,90}</string>
                <key>textureRect</key>
                <string>{{811,280},{78,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chart_honor_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{903,280},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_honor_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{811,360},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chart_lan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{953,40}</string>
                <key>spriteSourceSize</key>
                <string>{953,40}</string>
                <key>textureRect</key>
                <string>{{1,126},{953,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_lanse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{1239,126},{110,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chart_lv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{953,40}</string>
                <key>spriteSourceSize</key>
                <string>{953,40}</string>
                <key>textureRect</key>
                <string>{{811,406},{953,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{903,344},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chart_nrbj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{811,168},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{953,40}</string>
                <key>spriteSourceSize</key>
                <string>{953,40}</string>
                <key>textureRect</key>
                <string>{{811,448},{953,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_selfbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1340,123}</string>
                <key>spriteSourceSize</key>
                <string>{1340,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{1340,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_xin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1300,322},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chart_xx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,205}</string>
                <key>spriteSourceSize</key>
                <string>{2,205}</string>
                <key>textureRect</key>
                <string>{{1851,273},{2,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_lucky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{1239,363},{32,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tjk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,278}</string>
                <key>spriteSourceSize</key>
                <string>{281,278}</string>
                <key>textureRect</key>
                <string>{{956,126},{281,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chart.png</string>
            <key>size</key>
            <string>{1911,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1fef73d7bad99e6d6310d0aad697706:16bc39542063c09f4583c0a04c67c71f:c56d50adb3b62708b736829e1aa2701c$</string>
            <key>textureFileName</key>
            <string>chart.png</string>
        </dict>
    </dict>
</plist>
