<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,56}</string>
                <key>spriteSourceSize</key>
                <string>{233,56}</string>
                <key>textureRect</key>
                <string>{{1640,1},{233,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_block_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,154}</string>
                <key>spriteSourceSize</key>
                <string>{190,154}</string>
                <key>textureRect</key>
                <string>{{562,150},{190,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_block_disable_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,104}</string>
                <key>spriteSourceSize</key>
                <string>{130,104}</string>
                <key>textureRect</key>
                <string>{{1101,347},{130,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_block_disable_mask_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,140}</string>
                <key>spriteSourceSize</key>
                <string>{176,140}</string>
                <key>textureRect</key>
                <string>{{944,119},{176,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_block_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,114}</string>
                <key>spriteSourceSize</key>
                <string>{140,114}</string>
                <key>textureRect</key>
                <string>{{1,380},{140,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_block_disabled_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,154}</string>
                <key>spriteSourceSize</key>
                <string>{188,154}</string>
                <key>textureRect</key>
                <string>{{754,150},{188,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_block_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,114}</string>
                <key>spriteSourceSize</key>
                <string>{140,114}</string>
                <key>textureRect</key>
                <string>{{143,380},{140,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1809,392},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_coin_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{553,306},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_coin_disable_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1752,59},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_coin_disable_mask_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{403,345},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_coin_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1294,150},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_coin_disabled_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{713,306},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_coin_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1418,150},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{1832,336},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_black_triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,21}</string>
                <key>spriteSourceSize</key>
                <string>{60,21}</string>
                <key>textureRect</key>
                <string>{{1039,433},{60,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_black_triangle_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{1294,119},{36,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_菜单.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1433,396},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_gray_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1866,59},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_gray_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,40}</string>
                <key>spriteSourceSize</key>
                <string>{18,40}</string>
                <key>textureRect</key>
                <string>{{1629,474},{18,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_gray_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{641,466},{28,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_gray_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{553,466},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_gray_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{683,466},{28,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_gray_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1847,446},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_gray_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1866,103},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_gray_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{725,466},{28,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_gray_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1866,147},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_gray_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{335,345},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_yellow_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1039,456},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_yellow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,40}</string>
                <key>spriteSourceSize</key>
                <string>{18,40}</string>
                <key>textureRect</key>
                <string>{{1863,382},{18,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_yellow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{767,466},{28,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_yellow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{597,466},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_yellow_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{809,466},{28,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_yellow_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1083,456},{26,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_yellow_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1854,191},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_yellow_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{1125,453},{28,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_yellow_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1854,235},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_yellow_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{1702,461},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cowboy_fhno1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,153}</string>
                <key>spriteSourceSize</key>
                <string>{60,153}</string>
                <key>textureRect</key>
                <string>{{1332,88},{60,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cowboy_guide_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1753,448},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cowboy_guide_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,108}</string>
                <key>spriteSourceSize</key>
                <string>{81,108}</string>
                <key>textureRect</key>
                <string>{{1642,59},{81,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cowboy_icon_circle_small_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{1167,453},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cowboy_icon_circle_small_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{299,345},{33,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cowboy_icon_circle_small_red_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{519,295},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cowboy_icon_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{95,96}</string>
                <key>textureRect</key>
                <string>{{1647,298},{95,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cowboy_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,112}</string>
                <key>spriteSourceSize</key>
                <string>{112,112}</string>
                <key>textureRect</key>
                <string>{{1740,173},{112,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cowboy_push_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,116}</string>
                <key>spriteSourceSize</key>
                <string>{407,116}</string>
                <key>textureRect</key>
                <string>{{923,1},{407,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cowboy_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{1801,448},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cowboy_ssz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,153}</string>
                <key>spriteSourceSize</key>
                <string>{60,153}</string>
                <key>textureRect</key>
                <string>{{1487,88},{60,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_tips_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,49}</string>
                <key>spriteSourceSize</key>
                <string>{63,49}</string>
                <key>textureRect</key>
                <string>{{1702,396},{63,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_tips_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{920,147}</string>
                <key>spriteSourceSize</key>
                <string>{920,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{920,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1527,274},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose_cardtype_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,84}</string>
                <key>spriteSourceSize</key>
                <string>{180,84}</string>
                <key>textureRect</key>
                <string>{{873,306},{180,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>other_head_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1283,274},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>other_head_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{116,114}</string>
                <key>textureRect</key>
                <string>{{285,380},{116,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,170}</string>
                <key>spriteSourceSize</key>
                <string>{140,170}</string>
                <key>textureRect</key>
                <string>{{1122,119},{140,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,170}</string>
                <key>spriteSourceSize</key>
                <string>{140,170}</string>
                <key>textureRect</key>
                <string>{{959,261},{140,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1531,394},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,44}</string>
                <key>spriteSourceSize</key>
                <string>{78,44}</string>
                <key>textureRect</key>
                <string>{{959,433},{78,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{1832,287},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_blue_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,98}</string>
                <key>spriteSourceSize</key>
                <string>{85,98}</string>
                <key>textureRect</key>
                <string>{{1233,396},{85,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_blue_fire_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{1666,220},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1753,392},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_draw_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{1744,287},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_draw_fire_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{1629,396},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{1233,347},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>record_red_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,111}</string>
                <key>spriteSourceSize</key>
                <string>{82,111}</string>
                <key>textureRect</key>
                <string>{{1320,396},{82,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>record_red_fire_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{1666,142},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_coin_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,48}</string>
                <key>spriteSourceSize</key>
                <string>{218,48}</string>
                <key>textureRect</key>
                <string>{{299,295},{218,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_head_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1542,150},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_head_default_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1405,274},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,85}</string>
                <key>spriteSourceSize</key>
                <string>{306,85}</string>
                <key>textureRect</key>
                <string>{{1332,1},{306,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_cardtype_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,84}</string>
                <key>spriteSourceSize</key>
                <string>{180,84}</string>
                <key>textureRect</key>
                <string>{{1101,261},{180,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_coin_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,143}</string>
                <key>spriteSourceSize</key>
                <string>{261,143}</string>
                <key>textureRect</key>
                <string>{{299,150},{261,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,228}</string>
                <key>spriteSourceSize</key>
                <string>{296,228}</string>
                <key>textureRect</key>
                <string>{{1,150},{296,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_dznz.png</string>
            <key>size</key>
            <string>{1893,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af293a4ae3e378f7735dd1c283126560:0bffa8719ec659bb2a10255031fd71a5:a2cab5f594cf9453f7e70e7e166e23a9$</string>
            <key>textureFileName</key>
            <string>game_dznz.png</string>
        </dict>
    </dict>
</plist>
