<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cacel_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,98}</string>
                <key>spriteSourceSize</key>
                <string>{306,98}</string>
                <key>textureRect</key>
                <string>{{0,556},{306,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,65}</string>
                <key>spriteSourceSize</key>
                <string>{50,65}</string>
                <key>textureRect</key>
                <string>{{54,654},{50,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,98}</string>
                <key>spriteSourceSize</key>
                <string>{306,98}</string>
                <key>textureRect</key>
                <string>{{306,556},{306,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,54}</string>
                <key>spriteSourceSize</key>
                <string>{68,54}</string>
                <key>textureRect</key>
                <string>{{0,654},{68,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sound_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,84}</string>
                <key>spriteSourceSize</key>
                <string>{217,84}</string>
                <key>textureRect</key>
                <string>{{612,556},{217,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,84}</string>
                <key>spriteSourceSize</key>
                <string>{217,84}</string>
                <key>textureRect</key>
                <string>{{612,640},{217,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{979,556}</string>
                <key>spriteSourceSize</key>
                <string>{979,556}</string>
                <key>textureRect</key>
                <string>{{0,0},{979,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{979,556}</string>
                <key>spriteSourceSize</key>
                <string>{979,556}</string>
                <key>textureRect</key>
                <string>{{0,0},{979,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setting_dznz.png</string>
            <key>size</key>
            <string>{979,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a1613525c7512d39526d3aafc16a27:eacf56a8a6fad1901c296e5fb6d6c214:dd2019f37f004bb96ef2cdc9e5d3e85a$</string>
            <key>textureFileName</key>
            <string>setting_dznz.png</string>
        </dict>
    </dict>
</plist>
